<button type="button" class="btn btn-primary" (click)="printdata();">Print</button>

<div id="example" style="margin:0px 6px 0px 6px;">
    <br>
<div class="container" style="border-style: ridge;" >
  <div class="row form-inline">
    <div class="col-sm-3" >
      <div class="alignleft">
        <h3 >
          <small >Cell : 97914 26925</small><br>
          <small >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 97914 26925</small>
      </h3>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <br>
        <h4  style="border-style: ridge;">
            TAX INVOICE<br>
            <p >CASH/CREDIT BILL</p>
        </h4> 
        <!-- <p style="border-style: ridge;font-size: x-large;padding: 3px 3px;">GSTIN : 33BKMPA0961M1Z5</p> -->
        
    </div>
    <div class="col-sm-3">
      <!-- <div class="alignright">
      <input class="form-check-input" type="checkbox"> Original For Recipient<br>
      <input class="form-check-input" type="checkbox"> Duplicate For Transporter<br>
      <input class="form-check-input" type="checkbox"> Triplicate for Supplier
    </div> -->
    </div>
  </div>
  <div class="row" style="border-style: ridge;margin:6px 6px 6px 6px;">
    <div class="col-sm-3"> <br>      
    </div>
    <div class="col-sm-6"> <br>
      <p style="font-size: large;" class="text-center"><b>XYZ Book Shop</b></p>
        <p class="text-center">Wholesale and Retail<br>
          <span>84, 6, Church St, opp. Amoeba - HM Leisure, Haridevpur, </span><br>
          <span>Shanthala Nagar, Ashok Nagar, </span><br>
          <span> Bengaluru, Karnataka 560001.</span>
        </p>          
        </div>
    <div class="col-sm-3"> <br>
    </div>
  </div>
     
    <div class="row">
      <div class="col-sm-12">  
        <div style="border-style:ridge;padding:6px 6px;">
             <label class="text-right" for="cus_address">Customer Name:&nbsp;<b>{{ "Karthick"}}</b></label><br>
            <label  for="cus_address">Phone Number:&nbsp;<b>{{ "97914 26925"}}</b></label><br>
            <label  for="cus_address">Address:&nbsp;<b>{{ "Karnataka"}}</b></label><br>
          </div>
      </div>
          <!-- <div class="col-sm-6">                    
            <label  for="cus_address">Mail:&nbsp;{{api.billingobject.customerdetails.emailid || "xxx"}}</label><br>
            <label  for="cus_address">Adhaar:&nbsp;{{api.billingobject.customerdetails.adhaarid || "xxx"}}</label><br>
          </div> -->
        </div><br>
          <div class="row">
        <div class="table-responsive-sm col-sm-12">           
<table  class="table table-bordered table-sm">
  <thead>
    <tr>
        <th>Sno</th>
        <th>Product Name</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of api.invoicedata;index as i;">
      <td>{{i+1}} .</td>
      <td>{{ items.bookname}}</td>
      <td>{{items.collected.dis}}</td>
      <td>{{items.collected.qty}}</td>
      <td>&#x20B9; {{ items.total}}</td>

    </tr>
  </tbody>
  <tfoot>
    <th></th>
    <th></th>
  <th></th>
  <th>Net</th>
  <th>{{rupessinwords2}}</th>
      </tfoot>
</table>
        </div>
    </div>
    <!-- <div class="row">     
      <div class="col-sm-8">
        <table  class="table table-bordered table-sm">
              <thead>
        <tr>
          <th class="text-right"><h2>{{ "Total Amount"}}</h2></th>
          <td class="text-center">&#x20B9; {{api.total}}</td>
        </tr>
              </thead>
          </table>
      </div>
    </div>     -->
    <div class="row">
        <div class="col-sm-12" style="border-style: ridge;padding: 6px 6px;">
            <label  for="Rupees"><b>Rupees (In Words): </b>&nbsp;{{rupessinwords | uppercase}}</label><br>
          </div>
      <div class="col-sm-6">
        <br>
        <p class="text-center" style="border-style: ridge;padding: 6px 6px;">
          <span></span><br>
          <span></span><br>
          <br><br>
          <span>Party's Signature</span><br>
        </p>
      </div>
      <div class="col-sm-6">
        <br>
        <p class="text-center" style="border-style: ridge;padding: 6px 6px;">
          <b><span><b><small>For</small></b>&nbsp;xyz book shop</span></b><br>
          <span></span><br>
          <span></span><br><br>
          <span>Proprietor</span><br>
        </p>
      </div>
    </div>
</div>
<br>
<br>
</div>